<h2> New cocktail</h2>
<%= simple_form_for @cocktail, defaults: { input_html: { class: 'my_form' } } do |f| %>
 <% if @cocktail.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <div class="last_row">
    <div>
      <%= link_to "Back", cocktails_path, html_options = {class: "btn btn-primary"} %>
    </div>
    <div class="button_submit_container" >
      <i class="fas fa-plus-circle plus"></i>
      <%= f.submit '  ', class: "btn btn-primary plus_button" %>
      <!-- <%= f.submit '➕', class: "btn btn-primary" %> -->
    </div>
  </div>

<% end %>
