<h1> <%= @cocktail.name %></h1>
<% @cocktail.doses.each do |dose| %>
<h4>
  <%= dose.description %>,
<%= dose.ingredient.name %>,
<%= link_to "Destroy", dose_path(dose.id), method: :delete %>
</h4>

<% end %>
<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail.id)  %>
<%= link_to "Back", cocktails_path %>
